.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center
}

.navbar li{
    float: right;
} 

.navbar a:hover{
    background-color: #482574;
} 

.navbar ul{
    list-style-type: none;
    background-color: #6635A3;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}


.navbar input[type=text] {
    float: left;
    padding: 15px;
    padding-right: 33.3%;
    margin: 10px
}

.friendstop ul{
    display: flex;
    align-items: flex-end;
}

.friendstop input[type=text] {
    margin-left: 40px;
    margin-bottom: 20px;
    padding-left: 5px;
    width: 40%;
    height: 50px;
    background-color: lightgray;
    outline: none;

}



.friendstop h1 {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
}


.friendrequestbox {
    
    background-color: black;
    color: white;
    width: 300px;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 20px;
}



.friendrequestbox button{
    width: 50%;
}

/* why does this auto pad on the left side?? */
.friendrequestinnercontainer {
    margin: 30px;
    background-color: white;
    height: 500px;
     


}

.friendrequestoutercontainer {
    float: right;
    background-color: lightgray;
    height: 600px;
    width: 30%;
    margin-right: 50px;
}

.friendrequestoutercontainer h1{
    text-align: center;
    margin-left: 50px;
}


.friendcardcontainer {
    margin-left: 60px;
    width: 60%;

    display: grid;
    gap: 25px;
    grid-template-columns: 300px 300px 300px;
}



.friendcard {
    background-color: #BD2E95;
    color: white;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
}